# Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

all references to a in b() are to the global a , this a has global scope and on each call a is incremented by 2. Since b() is called 3 times the value of a is 6

# Question 2

In [36]:

def filelength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    
    except FileNotFoundError:
    
        print("File idterm.py not found.")

In [37]:
filelength('midterm.py')

322

In [35]:
filelength('idterm.py')

File idterm.py not found.

# Question 3

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch_contents = []
    
    def put_in_pouch(self, thing):
        self.pouch_contents.append(thing)

In [4]:
#Write a class named Marsupial that can be used as shown below:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents
# ['doll', 'firetruck', 'kitten']

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [7]:
k= Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [8]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [65]:
def collatz(x):
    
    if x==1:
        print(int(x))

    elif x%2==0:
        print(int(x))
        x = x/2
        collatz(x)
        
    else:
        print(int(x))
        x = 3*x+1
        collatz(x)

In [66]:
collatz(1)

1

In [67]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [65]:
def binary(n):
    if n < 2:
        print(n,end='')
    else:
        binary(n//2)
        print(n%2,end='')

In [66]:
binary(0)

0

In [67]:
binary(9)

1001

In [68]:
binary(1)

1

In [69]:
binary(3)

11

# Question 6

In [129]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    headers = ['h1','h2','h3','h4','h5','h6']
    indent = {'h1':0,'h2':1,'h3':3,'h4':4,'h5':5,'h6':6}
    head = None
    def handle_starttag(self,tag,attrs):
        if tag in self.headers:
            self.head = tag

    def handle_endtag(self,tag):
        if tag in self.headers:
            return 1          

    def handle_data(self,data):
         if  self.head in self.headers:
            print(data.rjust(len(data)+self.indent[self.head]))

In [130]:
infile = open('w3c.html')
content = infile.read()
infile.close()
HeadingParser = HeadingParser()
HeadingParser.feed(content)

W3C Mission


 Principles

# Question 8

In [78]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\donas\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\donas\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\users\donas\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in c:\users\donas\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: decorator in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\donas\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\donas\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\donas\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\donas\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=ebc4f209b5b751141adbc22eab0a576ccce12de53b1ff2b52a11e110039005d8
  Stored in directory: c:\users\donas\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [115]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [116]:
%sql sqlite://

In [120]:
%%sql

Create table Weather(City varchar(50),Country varchar(50),Season varchar(50),Temprature float,Rainfall float);

 * sqlite://
Done.

[]

In [125]:
%%sql

Insert into Weather values('Mumbai','India','Winter','24.8','5.9');
Insert into Weather values('Mumbai','India','Spring','28.4','16.2');
Insert into Weather values('Mumbai','India','Summer','27.9','1549.4');
Insert into Weather values('Mumbai','India','Fall','27.6','346.0');
Insert into Weather values('London','United Kingdom','Winter','4.2','207.7');
Insert into Weather values('London','United Kingdom','Spring','8.3','169.6');
Insert into Weather values('London','United Kingdom','Summer','15.7','157.0');
Insert into Weather values('London','United Kingdom','Fall','10.4','218.5');
Insert into Weather values('Cairo','Egypt','Winter','13.6','16.5');
Insert into Weather values('Cairo','Egypt','Spring','20.7','6.5');
Insert into Weather values('Cairo','Egypt','Summer','27.7','0.1');
Insert into Weather values('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [126]:
%%sql

Select * from Weather

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [131]:
%%sql

Select Temprature from Weather

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [133]:
%%sql

Select DISTINCT city from Weather

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [134]:
%%sql

Select * from weather where Country='India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [135]:
%%sql

Select * from weather where season='Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [137]:
%%sql

Select City,Country,Season from weather where Rainfall>200 and Rainfall<400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [143]:
%%sql

Select City,Country from weather where temprature>20 Order by Temprature asc

 * sqlite://
Done.

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

In [147]:
%%sql

Select sum(rainfall) as total_annual_rainfall from weather where City='Cairo'

 * sqlite://
Done.

[(27.6,)]

In [154]:
%%sql

Select sum(rainfall) as Fall_rainfall from weather where Season='Fall'

 * sqlite://
Done.

[(569.0,)]

In [157]:
%%sql
Select sum(rainfall) as summer_rainfall from weather where Season='Summer'

 * sqlite://
Done.

[(1706.5,)]

In [159]:
%%sql
Select sum(rainfall) as spring_rainfall from weather where Season='Spring'

 * sqlite://
Done.

[(192.29999999999998,)]

# Question 9

In [77]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Upper Case
print([x.upper() for x in words])

# Lower Case
print([x.lower() for x in words])

# Word Length
print([len(x) for x in words])

# List
print([[x.upper(), x.lower(), len(x)] for x in words])

# Word Legth greater or equal to 4
print([x for x in words if len(x)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']

# Question 7

In [124]:
urls = []
    
def webdir(url,depth,indent):
        global urls   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in urls: 
            webdir(i, depth-1, indent+1)    


content = urlopen(url).read().decode()
collector = Collector(url)
collector.feed(content)
urls = collector.getLinks()

In [125]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

  def __init__(self, url):
      
      HTMLParser.__init__(self)
      self.url = url
      self.links = []


  def handle_starttag(self, tag, attrs):
      if tag == 'a':
          for attr in attrs:          
              if attr[0] == 'href': 
                  absolute = urljoin(self.url, attr[1])
                  if absolute[:4] == 'http':
                      self.links.append(absolute)

  def getLinks(self):
    return self.links

In [126]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html